<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer-top">
          <h2 class="logo-title">
            <a href="{{site.baseurl}}/" class="logo-text">ZeoSpec</a>
          </h2>
          <div class="top"><i class="ion ion-ios-arrow-up"></i></div>
        </div>
        <div class="footer-bottom">
          <div class="copyright">
            <p>&copy; {{site.time | date: '%Y'}} &#60;&#62; by <a href="https://github.com/ZeoSpec" rel="noopener noreferrer" target="_blank">ZeoSpec</a></p>
          </div>
          <div class="footer-social">
            <ul class="list-reset">
              {% if site.facebook %}
              <li><a href="{{ site.facebook }}" rel="noopener noreferrer">Facebook</a></li>
              {% else %} {% endif %}

              {% if site.twitter %}
              <li><a href="{{ site.twitter }}" rel="noopener noreferrer">Twitter</a></li>
              {% else %} {% endif %}

              {% if site.instagram %}
              <li><a href="{{ site.instagram }}" rel="noopener noreferrer">Instagram</a></li>
              {% else %} {% endif %}

              {% if site.mail %}
              <li><a href="{{ site.mail }}" rel="noopener noreferrer">Mail</a></li>
              {% else %} {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->